<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Dynamo.Ioc" version="3.0.1.0" targetFramework="net40" />
  <package id="EntityFramework" version="5.0.0" targetFramework="net45" />
  <package id="FluentNHibernate" version="1.3.0.733" targetFramework="net40" />
  <package id="Iesi.Collections" version="3.3.1.4000" targetFramework="net40" />
  <package id="Lucene" version="2.9.4.1" targetFramework="net40" />
  <package id="Lucene.Net" version="3.0.3" targetFramework="net40" />
  <package id="mongocsharpdriver" version="1.7.1" targetFramework="net40" />
  <package id="NHibernate" version="3.3.2.4000" targetFramework="net40" />
  <package id="NHibernate.Search" version="2.0.2.4000" targetFramework="net40" />
  <package id="RavenDB.Client" version="2.0.2261" targetFramework="net40" />
  <package id="SharpZipLib" version="0.86.0" targetFramework="net40" />
</packages>